@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

:root{
    font-size: 18px;
    --pacman-size : 55px;
}

body, input{
    font-family: 'Share Tech Mono', monospace;
}

body, button{
    text-align: center;
    color: #8762D9;
    background-color: #F2E2DC;
}

h1, .subtitle, button{
    font-family: 'Bungee', monospace; 
}

h1{
    font-size: 3.5rem;
}

header{
    margin-top: 5vh;
    transition: margin-top 1s;
}

.header-down{
    margin-top: 35vh;
}

header h1{
    margin-top: 0;
}

.subtitle{
    font-size: 1.5rem;
    word-spacing: 1rem;
    letter-spacing: 0.3rem;
}

input{
    height: calc(1.1rem + 2rem);
    font-size: 1rem;
    padding: 0 0.8rem;
    border: 0;

    transition: all 0.3s;
}

.yellow{
    color: #F2A413;
}

button{
    /* reset */
    cursor: pointer;
    background-color: transparent;
    border: 0;

    font-size: 0.8rem;
    text-decoration: none;
    transition: all 0.3s;
}

input[type="checkbox"]{
    /* appearance: none; */
    /* background-color: #fff; */
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15rem;
    outline: none; 
    cursor: pointer;
    border-radius: 0.15rem;
    transform: translateY(-0.075rem);
}

.buttons-set{
    display: flex;
    gap: 0.5rem;
}

.buttons-set :last-child{
    flex: auto;
}

.btnSolid{
    text-transform: uppercase;
    padding: calc(0.5rem + 0.5rem) 1rem;  
    border-radius: 0.2rem;
    background-color: #CAB4D9;
}

.btnSolid:hover{
    background-color: #F2A413;
    
}

button:hover{
    color: #000;
}

button:active{
    transform: scale(0.85);
}

main{
    display: flex;
    flex-direction: column;
}

.main-height{
    min-height: 50vh;
}

#to-do-task-wrapper{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

#to-do-list ul, #completed-list ul{
    display: inline-block;
    margin-top: 20px;
    padding: 20px;
    min-width: max(30vw, 500px);
}

#to-do-list li, #completed-list li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    padding: 1rem 0;
    border-bottom: 3px dotted #CAB4D9;
    position: relative;
    overflow: hidden;

    animation: list-pop 0.3s ease-in-out;
}

#to-do-list li > span, #completed-list li > span{
    flex: 1;
    text-align: left;
    margin-left: 1rem;
}

#to-do-list button, #completed-list button{
    margin-left: 5rem;
}

#completed-list{
    margin-top: auto;
}

/* Pac man effect */
/* Reference: https://dev.to/alvaromontoro/creating-an-animated-pacman-pattern-40c */
.pac-man-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.pac-man{

    animation: move 1.4s 0.2s cubic-bezier( 0.83, 0, 0.37, 0.99 ), eating 1.4s 0.2s cubic-bezier( 0.83, 0, 0.37, 0.99 );
    position: absolute;
    /* ((text + padding) - hieight of pac man) / 2 */
    top: calc(50% - var(--pacman-size) / 2);
    left: calc(-1 * var(--pacman-size));
    right: 0;
    bottom: 0;
    
    width: var(--pacman-size);
    height: var(--pacman-size);
    background: conic-gradient(#D94A3D 55deg, transparent 0 125deg, #D94A3D 0);
    border-radius: 50%;

    /* width: 100%; */
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='571.11' width='541.6'%3E%3Cpath style='fill:%23ffcc00' d='M535.441,412.339A280.868,280.868 0 1,1 536.186,161.733L284.493,286.29Z'/%3E%3C/svg%3E"); */
    /* background-size: 22px; */
    /* background-repeat: no-repeat; */
    /* background-position: calc(0% - 22px) 0%; */

    /* animation: eating 1s 1s ease-out;
    left: 50px; */
}

li:nth-child(even) .pac-man{
    filter: hue-rotate(180deg);
}

.pac-man::before{
    content: ' ';
    animation: chips 1.4s 0.2s cubic-bezier( 0.83, 0, 0.37, 0.99 );

    display: block;
    position: absolute;
    right: calc(-1 * var(--pacman-size));
    top: 0;
    width: var(--pacman-size);
    height: var(--pacman-size);
    transform: rotate(45deg);
    background-image: radial-gradient(#8762D9 30%, transparent 0);
    /* background-color: #F2E2DC; */
    background-size: 10px 10px;
    background-repeat: repeat;
    clip-path: polygon(0 0, 0 100%, 100% 100%, 0% 100%);
}

.pac-man::after{
    content: ' ';
    display: block;
    box-sizing: border-box;
    width: calc(var(--pacman-size) * 0.3);
    height: calc(var(--pacman-size) * 0.3);
    margin-left: calc(var(--pacman-size) * 0.16);
    margin-top: calc(var(--pacman-size) * 0.16);
    border: 3px solid #fff;
    background-color: #000;
    border-radius: 50%;
}

.pac-man-bg{
    content: ' ';
    animation: moveBG 1.4s 0.2s cubic-bezier( 0.83, 0, 0.37, 0.99 );

    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0%;
    height: var(--pacman-size);
    
    background-color: #F2E2DC;
    /* background-position: 0% 0%; */
}

.strikethrough{
    text-decoration: line-through;
    color: #CAB4D9;
}

footer{
    position: absolute;
    bottom: 0;
    
    display: grid;
    grid-template-columns: 1rem auto 1rem;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    color: #CAB4D9;
    font-size: 0.9rem;
    padding: 0 1.5rem;
    box-sizing: border-box;
    background-color: #fff0ea;

    transition: all 0.3s;
    transform-origin: bottom;
    transform: scaleY(0);
}

footer span{
    display: inline-block;
}

.footer-up{
    transform: scaleY(1);
}

@keyframes list-pop {
    0%{
        margin: 0 2rem;
    }
    100%{
        margin: 0 0rem;
    }
}

/* @keyframes move{
    100% {
        background-position: calc(100% + 22px) 0%;
    }
} */

@keyframes move{

    0%{
        left: calc(0% - var(--pacman-size));
    }
    
    25%{
        left: 10%;
    }

    50%{
        left: 50%;
    }

    75%{
        left: 75%;
    }

    100%{
        left: 100%;
    }
    
}

@keyframes moveBG{

    0%{
        width: calc(0% + var(--pacman-size) / 2);
    }
    
    25%{
        width: calc(15% + var(--pacman-size) / 2);
    }

    50%{
        width: calc(55% + var(--pacman-size) / 2);
    }

    75%{
        width: calc(80% + var(--pacman-size) / 2);
    }
    
    100%{
        width: calc(100% + var(--pacman-size) / 2);
    }
}

@keyframes eating{
    0%, 30%, 80%, 100%{
        background: conic-gradient(#D94A3D 75deg, transparent 0 100deg, #D94A3D 0);
    }

    25%, 75%{
        background: conic-gradient(#D94A3D 55deg, transparent 0 125deg, #D94A3D 0);
    }
}

@keyframes chips{

    0%, 50%, 80%{
        clip-path: polygon(0 0, 0 100%, 100% 100%, 0% 100%);
    }

    25%, 75%{
        clip-path: polygon(0 0, 60% 30%, 100% 100%, 0% 100%);
    }
}

@media only screen and (max-width: 768px) {
    :root{
        font-size: 16px;
    }
    
    input{
        text-align: center;
    }

    #to-do-task-wrapper{
        flex-direction: column;
        align-items: stretch;
        padding: 5vw 10vw;
    }

    #to-do-list ul, #completed-list ul{
        min-width: 80vw;
    }
}
